body{
    background: rgb(19, 17, 17);
    color: rgb(221, 221, 221);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 244, 38);
    font-weight: inherit;
    font-size: 200px;
   }
   h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(221, 221, 221);
    font-weight: lighter;
    font-size: 40px;
    text-shadow: 2px 2px 10px rgb(232, 188, 29);
   }
   h2:hover{
    color: rgb(251, 229, 132);
   }
   a {
    text-align: center;
    font-size: 50px;
    color:  rgb(0, 0, 0);
    text-shadow: 2px 2px 10px rgb(252, 252, 252);
   }
   a:hover {
    text-align: center;
    text-decoration: rgb(0, 0, 0);
    color: rgb(251, 229, 132);
   }
   
   #banner{
    text-align: center;
    background-image: url("imagenes/2020_Breweries_Beers_with_Logos_ERP_6327_web_intereior_e8610c2c-4781-412d-b596-54d54a4bd09f.jpg");
    background-size: cover;
    padding: 100px;
    color: rgb(239, 56, 5);
    text-shadow: 2px 2px 10px rgb(29, 29, 19);
   }
   #banner h1 {
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-shadow: 12px 12px 25px rgb(117, 233, 113);
   }
   #banner p {
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: lighter;
    text-shadow: 12px 12px 25px rgb(117, 233, 113);
   }
   .categoria{
    text-align: center;
   }
   .comidas{
    text-align: center;
     }
   #footer{
    text-align: center;
    padding: 20px;
    background: rgb(165, 131, 8);
    color: rgb(30, 30, 30);
   }
   .conteiner{
    color: rgb(225, 194, 53);
    text-align: center;
    padding: 120px;
   }
   .tarjeta:hover{
    text-decoration: rgb(0, 0, 0);
    color: rgb(251, 229, 132);
    padding: 20px;
    font-weight: lighter;
   }
   #footer a {
    color: rgb(239, 56, 5);
    font-size: 25px;
   }
   #footer a:hover {
    color: rgb(30, 30, 30);
   }